.contenedor{
    padding: 0.7em;
}

.formularioParciales{
    display: grid;
    place-items: center;
}

.imputFormulario{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.labelCreacion{
    font-size: x-large;
}

.btn {
  border: none; 
  color: black;
  margin-bottom: 10px;
  cursor: pointer; 
  border-radius: 5px; 
  margin-right: 5px;
}
.primary {background-color: white; border: 2px solid #007bff;} 
.primary:hover {background: #0b7dda; color: white;}

.contenedorGenerar{
    background-color:#84c4a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.generador{
    width: 50%;
}
.notaFinal{
    width: 50%;
    font-size:x-large;
}

.contenedorParcial{
    border: 1px solid #000;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inputNota{
    color: brown;
    font-weight: bold;
    margin-right: 5px;
}
    
.negrita{
    font-weight:bold;
}
